@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts";
}

<!-- Info -->
<h1>Check out Joel's podcasts at <a href="https://baconsale.com/" target="_blank">baconsale</a>!</h1>
<br />
<br />

<!-- Cool pic -->
<img src="~/baconsale3.png" />
<br />
<br />